<div class="bleddy">
    <div class="all">
        <div class="welcome">welcome</div>
        <div class="exam">online Exam</div>
        <div class="rules">
            <p>rules and regulations for attemting this examination </p>
            1.Paper contains 10 questions
            <br>
            2.Each correct answer carries 5 marks 
            <br>
            3.Exam is of 30 minutes
            <br>
            <br>
            <button>login</button>
            <br>
            <p class="old">Have an account</p>
            <br>
            <button>SignUp</button>
            <br>
            <p class="new">Not yet created account?  </p>
        </div>
    </div>
</div>


  
