<div class="signup">
    <h1 class="bitch"> SignUp Form</h1>
    <div class="up">
        
        <p class="rollnumber">Enter RollNumber</p>
        <input type="text">
        <br>
        <br>
        <p class="email">  Email </p>
        <input type="email"><br>
        <br>
        <p class="password">  Password </p>
        <input type="password" name="input">
        <br>
        <br>
        <p class="confirm">Confirm Password</p>
        
        <input type="password" name="input">
        <br>
        <br>
        <button>Submit</button>
        </div>
    </div>
   





